inc/champsim_constants.h
inc/cache_modules.inc
inc/ooo_cpu_modules.inc
src/core_inst.cc
.champsimconfig_cache
./Makefile

bin/
obj/
gap/
gap_pr/
ligra/
sat/
*.csv
*.xlsx
*.pdf
*.pptx
run_me_exclusive.sh
run_me_old.sh
run_me_pr.sh
run_me_pr_exclusive.sh


**/*.o
**/*.d

tracer/pin/obj-intel64/

