inc/champsim_constants.h
inc/cache_modules.inc
inc/ooo_cpu_modules.inc
src/core_inst.cc
gap/
logs/

cache_modified.cc 
logs_collated_results.csv

testing_log
Notes.txt
extract_logs.py

run_me.sh
run_test.sh

.champsimconfig_cache
./Makefile

bin/
obj/

**/*.o
**/*.d

tracer/pin/obj-intel64/


