inc/champsim_constants.h
inc/cache_modules.inc
inc/ooo_cpu_modules.inc
src/core_inst.cc
gap/
logs/
gap_pr/

cache_modified.cc 
logs_collated_results.csv

testing_log
Notes.txt
extract_logs.py

run_me.sh
run_test.sh
run_me_pr.sh

testing_log_bc0
testing_log_sssp10
testing_log_sssp14

.champsimconfig_cache
./Makefile

bin/
obj/

**/*.o
**/*.d

tracer/pin/obj-intel64/


